<div class="top-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div id="fh5co-logo"><a href="index.html">SJPM</a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <li><a href="index.html">Home</a></li>
          <!-- <li><a href="portfolio.html">Portfolio</a></li> -->
          <!-- <li class="has-dropdown">
            <a href="blog.html">Blog</a>
            <ul class="dropdown">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">eCommerce</a></li>
              <li><a href="#">Branding</a></li>
              <li><a href="#">API</a></li>
            </ul>
          </li> -->
          <li><a href="packages.html">Packages</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li class="btn-cta"><a href="/dashboard"><span>Dashboard</span></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>